Repository sealye09/roco-speed: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,md,yml}'
      run: pnpm prettier --write {staged_files}
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}

add data
  src/data/pets.json
Due: prettier

basic functions
  .gitattributes
  .gitconfig
  debug.log
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/components/mode-toggle.tsx
  src/components/pet-filters.tsx
  src/components/pet-stats-config.tsx
  src/components/pet-table.tsx
  src/components/theme-provider.tsx
  src/data/pets.json
  src/data/pets.ts
  src/data/stats.ts
  src/types.ts
  src/types/pet-stats.ts
  src/utils/pet-stats.ts
Due: prettier, lint

update readme and description
  .vscode/settings.json
  README.md
  package.json
  src/components/theme-provider.tsx
Due: prettier, lint

vscode settings and suppressHydrationWarning of nextjs
  .vscode/settings.json
  src/app/layout.tsx
Due: prettier, lint

excel export
  package.json
  pnpm-lock.yaml
  src/components/pet-table.tsx
Due: prettier, lint

excel export
  src/components/pet-table.tsx
Due: prettier, lint

gitignore
  .gitignore
  debug.log
Due: none
